.transparent {
  background-color: transparent !important;
}

button:hover {
  color: rgb(5, 202, 5) !important;
  border: 1px solid rgb(5, 202, 5) !important;
  background-color: rgb(77, 21, 129) !important;
}
